<div class="container" style="margin-top:20px;">
  <div class="row justify-content-center">
      <div class="col-md-6">
      <div class="card">
      <header class="card-header">
          <a routerLink="/auth/signin" class="float-right btn btn-outline-primary mt-1">Log in</a>
          <h4 class="card-title mt-2">Sign up</h4>
      </header>
      <article class="card-body">
      <form>
          <div class="form-row">
              <div class="col form-group">
                  <label>First name </label>   
                  <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" placeholder="Enter First Name">
              </div> <!-- form-group end.// -->
              <div class="col form-group">
                  <label>Last name</label>
                    <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" placeholder="Enter Last Name">
              </div> <!-- form-group end.// -->
          </div> <!-- form-row end.// -->
          <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Enter Email Address">
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div> <!-- form-group end.// -->
          <div class="form-group">
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="user.gender" name="gender" value="male">
                <span class="form-check-label"> Male </span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="user.gender" name="gender" value="female">
                <span class="form-check-label"> Female</span>
              </label>
          </div> <!-- form-group end.// -->
          <div class="form-row">
              <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" class="form-control" [(ngModel)]="user.city" name="city">
              </div> <!-- form-group end.// -->
              <div class="form-group col-md-6">
                <label>Country</label>
                <select id="inputState" class="form-control" (change)="onSelect($event.target.value)" [(ngModel)]="user.country"  name="country">
                  <option value=""> Choose...</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Russia" >Russia</option>
                    <option value="United States" selected="">United States</option>
                    <option value="India">India</option>
                    <option value="Afganistan">Afganistan</option>
                </select>
              </div> <!-- form-group end.// -->
          </div> <!-- form-row.// -->
          <div class="form-group">
              <label>Create password</label>
              <input class="form-control" type="password"  [(ngModel)]="user.password" name="password">
          </div> <!-- form-group end.// -->  
          <div class="form-group">
              <button (click)="registerUser()" class="btn btn-primary btn-block"> Register  </button>
          </div> <!-- form-group// -->      
          <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
      </form>
      </article> <!-- card-body end .// -->
      <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
      </div> <!-- card.// -->
      </div> <!-- col.//-->
      
      </div> <!-- row.//-->
  </div>