<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>User List</h4>
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th><input type="checkbox" id="checkall" /></th>
              <th>Profile</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList">
                <td><input type="checkbox" class="checkthis" /></td>
                <td> <img src="{{user.avatar}}" alt=""> </td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>
                  <p data-placement="top" data-toggle="tooltip" title="Edit">
                    <button
                      class="btn btn-primary btn-xs"
                      data-title="Edit"
                      data-toggle="modal"
                      data-target="#edit"
                    >
                      edit
                    </button>
                  </p>
                </td>
                <td>
                  <p data-placement="top" data-toggle="tooltip" title="Delete">
                    <button
                      class="btn btn-danger btn-xs"
                      data-title="Delete"
                      data-toggle="modal"
                      data-target="#delete"
                      (click) = "deleteUser(user.id)"
                    >
                      delete
                    </button>
                  </p>
                </td>
              </tr>            
            </tbody>
          </table>
  
          <div class="clearfix"></div>
          <ul class="pagination pull-right">
            <li class="disabled">
              <a href="#"
                ><span class="glyphicon glyphicon-chevron-left"></span
              ></a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#"
                ><span class="glyphicon glyphicon-chevron-right"></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
